:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Blue: hsl(200, 100%, 62%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  --footer-background: hsl(167, 44%, 70%);
  --graphic-design-background: hsl(165, 48%, 75%);
  --photography-background: hsl(198, 89%, 65%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayis-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($juco: flex-start, $alite: flex-start) {
  display: flex;
  justify-content: $juco;
  align-items: $alite;
}

%border {
  border: 1px solid red;
}
