@use "../base/abstracts" as *;

#root {
  @extend %flex;
  flex-direction: column;
}

.top-wrapper {
  width: 100%;
  max-width: 144rem;
}

main {
  & {
    width: 100%;
    max-width: 144rem;
  }

  & > * {
    overflow-y: hidden;
  }
}

p {
  font-family: "Barlow", sans-serif;
  font-size: clamp(1.4rem, calc(1.4vw), 2rem);
  font-weight: 500;
  line-height: 1.66;
}

h1 {
  font-size: clamp(3.2rem, calc(3vw + 1rem), 5.6rem);
  letter-spacing: 18%;
  text-transform: uppercase;
}
h2 {
  font-size: clamp(2.6rem, calc(2.3vw + 1rem), 4.2rem);
}

.learnmore {
  letter-spacing: 5%;
  font-size: 1.6rem;

  .small {
    font-size: 1.2rem;
    letter-spacing: 9%;
  }
}
